<!DOCTYPE HTML>
<html>
	<head>
		<title>Register - The World of István Fekete</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		<div id="page-wrapper">
			<!-- Header -->
			<%- include('partials/header.html', { currentPage: 'register' }) %>

			<!-- Main -->
			<section id="main">
				<div class="container">
					<h2>Register</h2>
					<% if (typeof error !== 'undefined' && error) { %>
						<p style="color: red;"><%= error %></p>
					<% } %>
                    <% if (typeof success !== 'undefined' && success) { %>
						<p style="color: green;"><%= success %></p>
					<% } %>
					<form method="post" action="<%= routePrefix %>/register">
						<div class="row gtr-50">
                            <div class="col-12">
                                <input type="text" name="name" placeholder="Name" required />
                            </div>
							<div class="col-12">
								<input type="email" name="email" placeholder="Email" required />
							</div>
							<div class="col-12">
								<input type="password" name="password" placeholder="Password" required />
							</div>
							<div class="col-12">
								<ul class="actions">
									<li><input type="submit" class="button" value="Register" /></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section>
		</div>
	</body>
</html>
